<div>
  <img src="img/bridge.png" alt="Burnside Bridge on a cloudy day">
  <p>The skies darken. Clouds roll in. Ye cross the Burnside Bridge without incident. There is a crazed looking man in a toga on the East side ranting about gravy. He is pointing at you and looking wide-eyed.</p>
  <button ng-click="talk()" class="btn btn-warning">Talk</button>
  <button ng-click="attack()" class="btn btn-danger">Attack</button>
  <button ng-click="north()" class="btn btn-primary">Ignore and proceed North</button>
</div>
