<div>
  <h2>{{ player.name }}!! You are a proud {{ player.sex }} {{ player.class}}!</h2>
  <h4>Go forth and find Yon Biscuit of Great Splendor!</h4>
  <hr/>
  <img src="img/mayor.png" alt="real mayor of Portland">
  <p>It has been years since anyone has heard of the fate of Yon Biscuit of Great Splendor. Rumors have arrived - Yon Biscuit has been spotted in North Portland! You have been tasked by the Mayor to discover whether these rumors are true.</p>
  <hr/>
  <img src="img/burnside.png" alt="under the Burnside Bridge">
  <p>Ye find thyself under the Burnside Bridge. What doth thee wish to deau?</p>
  <button ng-click="swimFate()" class="btn btn-warning">Jump in the Willamette River</button>
  <button ng-click="stealKnife()" class="btn btn-danger">Steal a knife from a man that is passed out</button>
  <button ng-click="bridge()" class="btn btn-primary">Cross the bridge to the east side of the Willamette</button>
</div>
